* {
  box-sizing: border-box;
}

/* il css sarà mobile first */

body {
  font-family: "Spectral", serif;
  --main-yellow: #ffc017;
  --main-black: #191919;
  --main-green: #1a8917;
  --main-padding: 1.5rem;
}

header {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  background-color: var(--main-yellow);
  margin-bottom: 3rem;

  /* !!!! temp */
  /* display: none; */
}

nav {
  position: fixed;
  background-color: var(--main-yellow);
  z-index: 100;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  font-size: 0.9rem;
  font-weight: 450;
  border-bottom: 1px solid var(--main-black);
}

nav a {
  text-decoration: none;
  color: var(--main-black);
}

nav button {
  color: white;
  background-color: var(--main-black);
  border: 0;
  padding-inline: 1rem;
  padding-block: 0.7rem;
  border-radius: 20px;
  font-weight: 450;
}

nav a:nth-of-type(1) {
  flex-grow: 1;
}

nav a:nth-of-type(2) {
  display: none;
}
nav a:nth-of-type(3) {
  display: none;
}
nav a:nth-of-type(4) {
  display: none;
}

header section {
  display: flex;
  align-items: center;
  padding-inline: 1.5rem;
  height: 438px;
  border-bottom: 1px solid var(--main-black);
  margin-top: 70px;
}

header > section > div:nth-child(1) {
  max-width: 270px;
}

/* introduciamo una piccola adattività 
per evitare che il sottotitolo sia più 
lungo del titolo negli schermi piccoli*/

@media screen and (min-width: 490px) {
  header > section > div:nth-child(1) {
    max-width: 440px;
  }
}

/* fine dell'aggiustamento */

header section button {
  color: white;
  background-color: var(--main-black);
  border: 0;
  padding-inline: 3rem;
  padding-block: 0.6rem;
  border-radius: 30px;
  font-weight: 450;
  font-size: 1.3rem;
}

header h2 {
  font-family: "Spectral", serif;
  font-size: 5.5rem;
  font-weight: 500;
  letter-spacing: -0.3rem;
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 1.4rem;
}

header p {
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

main {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.repeated-m {
  display: none;
  position: relative;
  height: 438px;
}

.repeated-m > img {
  height: 435px;
  transform: translateX(20px);
  position: absolute;
}

.trending {
  padding-inline: var(--main-padding);
  border-bottom: 1px solid rgba(25, 25, 25, 0.1);
  padding-bottom: 0.8rem;
  margin-bottom: 3.5rem;

  /* !!!! temp */
  /* display: none; */
}

.trending h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
  text-transform: uppercase;
  font-size: 0.82rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin-bottom: 0.8rem;
}

.trending span {
  opacity: 60%;
}

.trending > div img {
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.trending > div {
  display: flex;
  align-items: baseline;
  gap: 20px;
  margin-bottom: 2rem;
}

.trending > div > div:nth-of-type(1) {
  font-size: 2rem;
  font-weight: 900;
  color: var(--main-black);
  opacity: 10%;
}

.trending > div > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 0.8rem;
}

.trending h4 {
  font-weight: 700;
  font-size: 1.1rem;
  padding-block: 0.8rem;
}

.trending > div > div:nth-child(2) > div:nth-child(3) {
  display: flex;
  justify-content: space-between;
  font-size: 0.83rem;
  opacity: 55%;
}

.discover {
  padding-inline: var(--main-padding);
}

.discover h3 {
  color: var(--main-black);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
}

.discover > div:nth-of-type(1) {
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  border-bottom: 1px solid rgba(25, 25, 25, 0.1);
  margin-bottom: 1rem;
}

.discover > div:nth-of-type(1) a {
  color: var(--main-black);
  text-decoration: none;
  opacity: 60%;
  border: 1px solid rgba(25, 25, 25, 0.2);
  display: inline-block;
  padding-block: 0.6rem;
  padding-inline: 0.9rem;
  font-size: 0.8rem;
  margin-block: 0.25rem;
  margin-inline: 0.1rem;
}

.discover > div:nth-of-type(2) a {
  color: var(--main-black);
  text-decoration: none;
  opacity: 60%;

  display: inline-block;
  padding-block: 0.3rem;
  padding-right: 1.8rem;
  font-size: 0.9rem;
  margin-block: 0.25rem;
}

.articles {
  padding-inline: var(--main-padding);
}

.articles > div {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
}

.articles > div > div:nth-child(2) > img {
  width: 200px;
  aspect-ratio: 400/267;
  margin-left: 2rem;
}

.articles > div > div:nth-child(1) > div:nth-child(1) {
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.articles > div > div:nth-child(1) > div:nth-child(1) > img {
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 0.5em;
}

.articles > div > div:nth-child(1) > div:nth-child(1):has(span) > img {
  border-radius: 3px;
}

.articles > div > div:nth-child(1) > h4 {
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
}

.articles > div > div:nth-child(1) > h4 a {
  text-decoration: none;
  color: var(--main-black);
  font-size: 1.5rem;
  font-weight: 900;
}

.articles > div p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  opacity: 60%;
  font-size: 1rem;
  line-height: 1.3rem;
  /* height: 44px; */
  /* max-width: 288px; */
  /* white-space: pre-wrap; */
  /* text-overflow: ellipsis; */
  /* position: relative; */
  margin-bottom: 0.5rem;
}

.articles > div > div:nth-child(1) > div:nth-child(4) {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
}

.articles .transparent {
  opacity: 60%;
}

.articles > div > div:nth-child(1) > div:nth-child(4) > div:nth-child(5) {
  display: flex;
  align-items: center;
  color: aqua;
  gap: 5px;
}

.articles > div > div:nth-child(1) > div:nth-child(4) > div a {
  color: var(--main-black);
  text-decoration: none;
  display: inline-block;
  background-color: #e6e6e6;
  line-height: 1.3rem;
  padding-inline: 0.4rem;
  padding-block: 0.15rem;
  border-radius: 25px;
  opacity: 60%;
}

.articles > div > div:nth-child(1) > div:nth-child(4) > div:nth-child(6) {
  flex-grow: 1;
  text-align: right;
  opacity: 100%;
}
